.grid{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.grid .imageContainer{
  background-color: #1E1F73;
  padding: 10px;
  height: 100vh;
}

.imageContainer #detailImage{
  width: 90%;
}

.Back{
  padding: 4px;
}
.Back #backtitle{
  color: #ffff;
}