:root{
  --Mons: Montserrat;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid .imageContainer{ 
  padding: 10px;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.imageContainer #detailImage{
  width: 80%;
  border-radius: 4px;
  align-self: center;
}

.Back{
  padding: 4px;
  width: 25%;
  text-align: center;

}
.Back #backtitle{
  color: #313131;
  font-family: var(--Mons);
}

.grid .movieDetailContainer{
  background-color: red;
}

.grid .movieDetailContainer #info{
  padding: 30px;
}

.grid .movieDetailContainer #info h1{
  font-family: var(--Mons);
  color: #ffff;
  font-size: 24px;
}

.grid .movieDetailContainer #overView{
  color: #ffff;
  padding: 20px;
}

.grid .movieDetailContainer #overView h1{
  font-family: var(--Mons);
  font-weight: bold;
  padding: 5px 0p;
}

.grid .movieDetailContainer #overView p {
  font-size: 14px;
  padding-top: 15px;
}

.grid .movieDetailContainer #release-date {
  padding: 20px;
  color: #ffff;
}