:root{
  --Mons: Montserrat;
  --open: 'Open Sans', sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.grid .imageContainer{ 
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FD1014;
}

.grid #poster{
  width: 80%;
  border-radius: 4px;
}

.grid .infomation-container{
  background-color: #FD1014;
  padding: 10px;
}

.grid .infomation-container #title{
  color: #ffff;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
}

.grid .infomation-container .over-view{
  font-family: var(--open);
  font-weight: 300;
  color: #ffff;
  padding: 10px;
}
.grid .infomation-container .over-view #overview-title{
  padding-bottom: 10px;
  font-size: 20px;
}

.grid .infomation-container #facts #factTitle{
  font-family: var(--Mons);
  font-weight: 500;
  color: #ffff;
  padding: 10px;
  font-size: 20px;
}

.grid .infomation-container #facts #production-companies{
  display: flex;
  flex-wrap: wrap;
}

.grid .infomation-container #facts #production-companies .company{
  background-color: aliceblue;
  border-radius: 2px;
}
.grid .infomation-container #facts #production-companies .company .imgDiv #com-img{
  width: 100px;
  padding: 10px;
}
